# Auto detect text files and perform LF normalization
* text=auto

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.svg binary

# Videos
*.mp4 binary
*.mov binary
*.avi binary
*.webm binary
